*{
    margin: 0;
    padding: 0;
    outline: 0;
}

.home-table{
    background: url("../../assets/imagem3.jpg") no-repeat center center fixed;
    background-size: cover; 
    height: 100vh; 
    width: 100%;
    /* position: relative; */
}

.text-home {
    position: relative; /* Alterada para relative */
    text-align: center;
    margin-top: 10vh; /* Posiciona o centro vertical do container no meio da tela */
    transform: translateY(160%); /* Ajusta a posição vertical */
}

.text-home h1{
    margin-bottom: 20px; /* Adiciona espaço entre o título e a tabela */
    color: #eeeeee;
}

table {
    margin: auto;
    margin-top: 20vh;
    width: 60%;
    transform: translateY(-10%);
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 12px 12px 0 0;
    overflow-y: auto;
    max-height: 70vh;
    box-shadow: 0 2px 12px rgba(32,32,32,.3);
    background: #fafafa;
    text-align: center;
}

th, td{
    padding: 15px 15px;
}
th {
    background: #A86C62;
    color: #fafafa;
    text-transform: uppercase;
}

.no-churrasco-message {
    margin-top: 100px;
    padding: 0px 2px;
    width: 350px; 
    margin-left: auto; 
    margin-right: auto;
    background-color: #ffffff;
    border-radius: 12px; 
    text-align: center;
}

tr:nth-child(odd){
    background-color: #eeeeee;
}

button{
    color: #fff;
    padding: 3px 4px;
    margin: 3px;
    border-radius: 6px;
    background-color: #A86C62;
    transition: all 0.2s ease;
    cursor: pointer;
}

button:active{
    transform: scale(0.96);
}